{% include 'incl/header.twig' %}
<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="kmom04-page">
            <h1 class="analyser">{{ meta.title }}</h1>
            {{ content }}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
