{% include 'incl/header.twig' %}
<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="test-page">
            <div>
                {# <h1>{{ meta.description }}</h1> #}
                {{ content }}
                
                <img class="flash-img" src="image/movement.jpg?f=colorize,-0,-20,-20,0&w=400">
                
                <img class="flash-img" src="image/movement.jpg?f=negate&w=400">
                
                <img class="flash-img" src="image/movement.jpg?convolve=draw&w=400">
            </div>
        </div>
        <picture>
            <source media="(min-width: 668px)" srcset="image/sheep.jpg">
            <source media="(min-width: 376px)" srcset="image/sheep.jpg?w=667">
            <img src="image/sheep.jpg?w=375" alt="sheep">
        </picture>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/gCwjLPBqpa0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
