$mobile-width: 767px;

* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

html {
    font-size: 100%;
}

p {
    font-size: 1em;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 2.1rem;
}

h2 {
    font-size: 2em;
    margin-bottom: 2.8rem;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: radial-gradient(circle at 100%, transparent 30%, rgba(255,255,255,.4) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-size: 75px 100px;
    line-height: 1.4;
    background-color: $background-color;
    width: calc(100% / 12 * 8);
    padding-left: calc(100% / 12 * 2);
    padding-right: calc(100% / 12 * 2);
}


.main {
    background: $background-color;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 4px solid $accent-color;
    border-right: 4px solid $accent-color;
}


.header {
    background-color: $background-alternative-color;
    color: $font-alternative-color;
    padding-left: 0.5em;
    padding-right: 0.5em;

    .social {
        display: flex;
        align-items: center;
    }

    .nav a {
        font-weight: bold;
        padding: 1rem;
        text-decoration: none;
        color: $font-color;
        text-transform: uppercase;
    }

    .nav a:hover {
        background-color: $accent-color;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

.social {
    p {
        padding-left: 0.5em;
    }
}

.nav {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    border-top: 4px solid $accent-color;
    text-align: center;
}

.logo {
    img {
        width: 100%;
        height: auto;
    }
}

.container {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: $accent-color;

    .social {
        padding-top: 1em;
        padding-right: 0.5em;
    }
}

ul {
    flex-wrap: wrap;
}

.nav-button {
    padding: 0.5em 0.5em;
    letter-spacing: 0.1em;
}

// Responsivitet
@media (max-width: $mobile-width) {
    html {
        font-size: 112.5%;
    }

    body {
        width: calc(100% / 16 * 14);
        padding-left: calc(100% / 16 * 1);
        padding-right: calc(100% / 16 * 1);
    }

    .nav {
        justify-content: center;
    }

    .nav-button {
        padding: 0 1em;
        letter-spacing: 0.1em;
    }
}