<div class="container">
    <div class="social">
        {% for social in pages["_meta"].meta.social %}
            <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                <i class="{{ social.icon }}" aria-hidden="true"></i>
                <span class="sr-only">{{ social.title }}</span>
            </a>
        {% endfor %}
        <a href="?action=session_destroy">Destroy Session</a>
        <a href="?action=theme">Swap theme</a>
    </div>
    
    <p>
        En footer med lite text.
    </p>
</div>